@import 'foundation/all';

/**
 *
 * This will generate the classes for the
 * example
 .tick-success {
  color: $success;
}
.tick-success-light {
  color: $success-light;
}
.tick-success-dark {
  color: $success-dark;
}
 *
 */

/// class for the tick
/// @group classes
/// @name tick
/// @example - apply styling for the tick sign
/// <Tick className="tick-success" />

@each $key, $val in $brand-colors {
  .tick-#{$key} {
    color: #{$val};
    transform: rotate(45deg);
    min-width: map-get($spaces, 'sm');
    min-height: map-get($spaces, 'lg');
    border-bottom: map-get($spaces, 'xsm') solid #{$val};
    border-right: map-get($spaces, 'xsm') solid #{$val};
    margin-right: map-get($spaces, 'md');
  }
}

// Path: packages/design-system/src/molecules/tick.scss
