@import 'foundation/all';

/**
 *
 * This will generate the classes for the
 * example
 .tick-success {
  color: $success;
}
.tick-success-light {
  color: $success-light;
}
.tick-success-dark {
  color: $success-dark;
}
 *
 */

@each $key, $val in $brand-colors {
  .tick-#{$key} {
    color: #{$val};
  }
}

// Path: packages/design-system/src/molecules/tick.scss
